.data{
    text-align: center;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100vw;
    color: white;
    object-fit: contain;
    background-position: center;
    background-repeat:no-repeat;
    background-color: rgb(43, 38, 38);
}

.values{
 display: flex;
 flex-wrap: wrap;
 align-items: center;
 justify-content: center;
}

.individual-value{
    width: 250px;
    min-height: 300px;
    background-color: black;
    border: 2px solid grey;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    border-radius: 10px;
}

.register-num{
    color: grey;
    font-size: 0.75em;
}

.converted-data{
    font-size: 1.25em;
    font-weight: bold;
}

.data-units{
    font-style: italic;
    padding-top: 10px;
}

.user-logout{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.logout-svg{
    padding: 0 20px 0 20px;
    display: flex;
    align-items: center;
}

.logout-svg:hover{
    cursor: pointer;
}