.data{
    text-align: center;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    max-width: 100vw;
    color: #ffffff;
    object-fit: contain;
    background-position: center;
    background-repeat:no-repeat;
    background-color: rgb(43, 38, 38);
}

/* Pinned */

.values-pinned{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 8rem;
    padding: 3rem;
   }
   
   .individual-value-pinned{
       width: 250px;
       min-height: 300px;
       background-color: #000000;
       border: 4px solid #dd0101;
       padding: 10px;
       display: flex;
       justify-content: space-around;
       flex-direction: column;
       border-radius: 10px;
   }


/* Not Pinned */

.values{
 display: flex;
 flex-wrap: wrap;
 align-items: center;
 justify-content: center;
 gap: 8rem;
 padding: 3rem;
}

.individual-value{
    width: 250px;
    min-height: 300px;
    background-color: #000000;
    border: 2px solid #808080;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    border-radius: 10px;
}

.register-num{
    color: grey;
    font-size: 0.75rem;
}

.converted-data{
    font-size: 1.25rem;
    font-weight: bold;
}

.data-units{
    font-style: italic;
    padding-top: 10px;
}

.user-logout{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.logout-svg{
    padding: 0 20px 0 20px;
    display: flex;
    align-items: center;
}

.logout-svg:hover{
    cursor: pointer;
}

.mini-detail{
    font-size: 0.9rem;
}
